aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
base58==2.1.1
bitarray==1.2.2
certifi==2021.10.8
charset-normalizer==2.0.12
cmake==3.27.4.1
cytoolz==0.11.2
eth-abi==2.1.1
eth-account==0.5.7
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
filelock==3.12.3
frozenlist==1.3.0
hexbytes==0.2.2
idna==3.3
importlib-resources==5.7.1
ipfshttpclient==0.8.0a2
Jinja2==3.1.2
jsonschema==4.5.1
lit==16.0.6
lru-dict==1.1.7
MarkupSafe==2.1.3
mpmath==1.3.0
multiaddr==0.0.9
multidict==6.0.2
netaddr==0.8.0
networkx==3.1
numpy==1.22.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
parsimonious==0.8.1
Pillow==9.1.0
protobuf==3.20.1
pycryptodome==3.14.1
pyrsistent==0.18.1
python-dotenv==1.0.0
requests==2.27.1
rlp==2.0.1
six==1.16.0
sympy==1.12
toolz==0.11.2
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
triton==2.0.0
typing-extensions==4.2.0
urllib3==1.26.9
varint==1.0.2
web3==5.29.1
websockets==9.1
yarl==1.7.2
zipp==3.8.0
